/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3b8dbd;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #3b8dbd;
    margin-bottom: 10px;
}

/* Home Page Styles */
.intro {
    text-align: center;
    padding: 20px;
}

/* Destinations Page Styles */
.destinations ul {
    list-style: none;
}

.destinations li {
    margin: 10px 0;
    font-weight: bold;
}

/* Contact Page Styles */
.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 10px;
}

.contact input, 
.contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    background-color: #3b8dbd;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.contact button:hover {
    background-color: #336a91;
}

.intro-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #006400;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
